---
layout: default
description: "The personal blog of Tao Xialei."
headline: An Engineer's Diary
tags: [programing, engineering, blog]
---

<div class="posts">
  {% for post in site.posts limit:10 %}
  <a href="{{ post.url }}" class="post-excerpt{% if post.photo_url %} photo{% endif %}">
    <div class="title">{{ post.title }}</div>
    <div datetime="{{ page.date | date: "%Y-%m-%d" }}">
      {{ post.date | date: "%d %b %Y" }}
    </div>
    {% if post.photo_url %}
      <div class="image" style="background-image:url('{{ post.photo_url }}')"></div>
    {% else %}
      
      {% if post.description %}
      <span class="body">{{ post.description | markdownify }}</span>
      {% else %}
      <span class="body">{{ post.content | strip_html | truncate: 200 }}</span>
      {% endif %}
    {% endif %}
  </a>
  {% endfor %}
  <div class="end">
    <a href="/archive.html">更多日志...</a>
  </div>
</div>